<div class="container">
  <form (ngSubmit)="incluir()" ngNativeValidate>
    <div class="mb-3 form-group">
      <label class="form-label">Titulo</label>
      <input name="titulo" type=" text" class="form-control" [(ngModel)]="livro.titulo" name="titulo" required
        id="titulo">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Resumo</label>
      <textarea name="resumo" class="form-control" [(ngModel)]="livro.resumo"></textarea>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Editoras</label>
      <select name="editoras" class="form-select">
        <option *ngFor="let editora of editoras" [value]="editora.codEditora">{{editora.nome}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Autores</label>
      <input name="autoresForm" type="text" class="form-control" [(ngModel)]="autoresForm" required>
    </div>
    <div>
      <button class="btn btn-success" type="submit">Cadastrar</button>
    </div>
  </form>
</div>